<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>外勤助手.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
				<key>dateExpires</key>
				<string>2020/10/31</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
						<key>dateExpires</key>
						<string>2020/10/31</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6KGHWCYS46</string>
						<key>name</key>
						<string>Heilongjiang Province Wondersun Dairy Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
						<key>dateExpires</key>
						<string>2020/10/31</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6KGHWCYS46</string>
						<key>name</key>
						<string>Heilongjiang Province Wondersun Dairy Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
						<key>dateExpires</key>
						<string>2020/10/31</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Locksmith.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6KGHWCYS46</string>
						<key>name</key>
						<string>Heilongjiang Province Wondersun Dairy Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
						<key>dateExpires</key>
						<string>2020/10/31</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6KGHWCYS46</string>
						<key>name</key>
						<string>Heilongjiang Province Wondersun Dairy Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
						<key>dateExpires</key>
						<string>2020/10/31</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6KGHWCYS46</string>
						<key>name</key>
						<string>Heilongjiang Province Wondersun Dairy Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6KGHWCYS46.com.wondersun.legwork.ios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6KGHWCYS46</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6KGHWCYS46.com.ehsure.wds.WanDaShan</string>
				</array>
			</dict>
			<key>name</key>
			<string>外勤助手.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bd782627-c445-40f3-9ddb-2e56d4f1b7e7</string>
				<key>name</key>
				<string>wdsoutwork_distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6KGHWCYS46</string>
				<key>name</key>
				<string>Heilongjiang Province Wondersun Dairy Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
