<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/ehsure/wondersunlegwork.git</string>
		<key>displayImageURL</key>
		<string>https://github.com/ehsure/wondersunlegwork.git</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/ehsure/wondersunlegwork.git</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.wondersun.legwork.ios</key>
		<string>wdsoutwork_distribution</string>
	</dict>
	<key>signingCertificate</key>
	<string>A3DC67F4A7C21C6D499D7240E7D733C5FD7E82FA</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>6KGHWCYS46</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
